<div class="parallax-container valign-wrapper center">
  <div class="section no-pad-bot">
    <div class="container">
      <br/><br/>
      <h1 class="header center"><img src="/assets/logo.png" alt="Gime5"> {{pageTitle}}</h1>
      <h2 class="header center">Juntos mejoramos tu mundo</h2>
      <div class="row center hide-on-small-only">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida ipsum id est laoreet, ut cursus orci tincidunt.
          Aenean ultricies egestas felis sit amet semper. Cras mattis velit sit amet dolor aliquam sagittis. Vestibulum consectetur
          nibh vitae nulla egestas, porttitor lobortis urna maximus. Fusce sed pretium nisi. Quisque tincidunt tempor sapien,
          vitae vestibulum dolor lacinia at. Morbi sit amet porttitor odio. Pellentesque porta blandit purus ac dapibus.
          Etiam dignissim nibh vitae leo efficitur, ut tempus velit scelerisque. Proin ac arcu a nunc vestibulum consectetur.
          Vivamus ultrices risus eu tristique eleifend. Integer venenatis molestie ipsum, et consectetur mi pulvinar nec.
          Pellentesque ac arcu interdum, blandit
      </div>
      <div class="row center">
        <button class="waves-effect waves-light btn">Quiero ayudar</button>
        <button class="waves-effect waves-light btn">Necesito ayuda</button>
      </div>
    </div>
  </div>
  <div materialize="parallax"><img src="/assets/background1.jpg" alt="Gime5"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">

      <div class="col s4">
        <h2 class="center"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">Ayuda</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida ipsum id est laoreet, ut cursus orci tincidunt.
          Aenean ultricies egestas felis sit amet semper. Cras mattis velit sit amet dolor aliquam sagittis. Vestibulum consectetur
          nibh vitae nulla egestas, porttitor lobortis urna maximus. Fusce sed pretium nisi. Quisque tincidunt tempor sapien,
          vitae vestibulum dolor lacinia at. Morbi sit amet porttitor odio. Pellentesque porta blandit purus ac dapibus.
          Etiam dignissim nibh vitae leo efficitur, ut tempus velit scelerisque. Proin ac arcu a nunc vestibulum consectetur.
          Vivamus ultrices risus eu tristique eleifend. Integer venenatis molestie ipsum, et consectetur mi pulvinar nec.
          Pellentesque ac arcu interdum, blandit</p>
      </div>
      <div class="col s4">
        <h2 class="center"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">Colabora</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida ipsum id est laoreet, ut cursus orci tincidunt.
          Aenean ultricies egestas felis sit amet semper. Cras mattis velit sit amet dolor aliquam sagittis. Vestibulum consectetur
          nibh vitae nulla egestas, porttitor lobortis urna maximus. Fusce sed pretium nisi. Quisque tincidunt tempor sapien,
          vitae vestibulum dolor lacinia at. Morbi sit amet porttitor odio. Pellentesque porta blandit purus ac dapibus.
          Etiam dignissim nibh vitae leo efficitur, ut tempus velit scelerisque. Proin ac arcu a nunc vestibulum consectetur.
          Vivamus ultrices risus eu tristique eleifend. Integer venenatis molestie ipsum, et consectetur mi pulvinar nec.
          Pellentesque ac arcu interdum, blandit</p>
      </div>
      <div class="col s4">
        <h2 class="center"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">Todos ganan</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida ipsum id est laoreet, ut cursus orci tincidunt.
          Aenean ultricies egestas felis sit amet semper. Cras mattis velit sit amet dolor aliquam sagittis. Vestibulum consectetur
          nibh vitae nulla egestas, porttitor lobortis urna maximus. Fusce sed pretium nisi. Quisque tincidunt tempor sapien,
          vitae vestibulum dolor lacinia at. Morbi sit amet porttitor odio. Pellentesque porta blandit purus ac dapibus.
          Etiam dignissim nibh vitae leo efficitur, ut tempus velit scelerisque. Proin ac arcu a nunc vestibulum consectetur.
          Vivamus ultrices risus eu tristique eleifend. Integer venenatis molestie ipsum, et consectetur mi pulvinar nec.
          Pellentesque ac arcu interdum, blandit</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Crea una causa</h5>
      </div>
    </div>
  </div>
  <div materialize="parallax"><img src="/assets/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque
          tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien
          id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend
          sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
          ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis
          in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Apoya con acciones</h5>
      </div>
    </div>
  </div>
  <div materialize="parallax"><img src="/assets/background3.jpg" alt="Unsplashed background img 3"></div>
</div>