<div class="container" *ngIf='cause'>
  <div class="row">
    <div clas="col s12">
      <h1>{{pageTitle}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="center"><strong>-- Causas conseguidas cerca de tí --</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card green">
        <p class="center white-text">Palma de Mallorca</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content valign-wrapper">
          <p class="valign center col s12">
            {{cause.name}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content valign-wrapper">
          <p class="valign center col s12">
            Hay muchas familias que no pueden pagar sus necesidades básicas. La fundación INDIG los ayuda. En este caso recaudamos para
            comprar cunas. <br/>Tu ayuda cuenta: dona lo que queres y puedes. 100% de tu donación irá a esta
            causa.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="col s3 center">
      <span class="btn-floating btn-large orange"><img style="padding-top: 8px" src="assets/children.png"></span>
    </div>
    <div class="col s3 center">
      <a class="btn-floating btn-large waves-effect waves-light bluegrey">+info</a>
    </div>
    <div class="col s3 center">
      Falta <span class="red-text">0€</span>(de 500€)
    </div>
    <div class="col s3 center">
      <a class="btn-floating btn-large waves-effect waves-light black">Logo</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content valign-wrapper">
          <p class="valign center">
            Gracias a todos vosotros el 15/9/16 compramos 6 cunas en CUNAS PAQUI.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>