<header>
  <div class="navbar-fixed z-top">
    <nav>
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <a href="#!" materialize="sideNav" data-activates="slide-out" [materializeParams]="[{closeOnClick: true}]" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
          </li>
          <li>
            <a href="#!"><img src="assets/logo.png" title="Gime5" style="padding-top: 13px" /></a>
          </li>
          <li>
            <a routerLink="/causes">Todas las causas</a>
          </li>
          <li>
            <a routerLink="/cause">Una causa</a>
          </li>
          <li>
            <a routerLink="/actions">Todas las acciones</a>
          </li>
        </ul>

        <ul class="right">
          <li><a href="#!"><i class="material-icons">search</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main class="grey lighten-3">
  <ul id="slide-out" class="side-nav">
    <li><a routerLink="/causes" class="waves-effect" >Todas las causas</a></li>
    <li><div class="divider"></div></li>
    <li><div class="divider"></div></li>

    <li><a routerLink="/causes" class="waves-effect" >Todas las causas</a></li>
    <li><a routerLink="/cause" class="waves-effect" >Una causa</a></li>
    <li><a routerLink="/cause">Una causa</a></li>
  </ul>

  <router-outlet></router-outlet>

</main>
<footer class="page-footer white-text">
</footer>